{% extends 'core/base.html' %}
{% block title %}{{ item.name }}{% endblock %}
{% block content %}
<div class="iitem-detail-grid">
  <div class="iitem-image">
    <img src="{{ item.image.url }}" alt="{{ item.name }}">
  </div>
  <div class="iitem-info">
    <h1 class="iitem-name">{{ item.name }}</h1>
    <p class="iitem-price">Price: {{ item.price }}</p>
    <p class="iitem-seller">Seller: {{ item.created_by.username }}</p>
    {% if item.description %}
    <p class="iitem-description">{{ item.description }}</p>
    {% endif %}
    {% if request.user == item.created_by or request.user.is_superuser %}
    <div class="iitem-actions">
      <p>This is your item!</p>
      <a href="{% url 'item:edit' item.id %}" class="iedit-button">Edit</a>
      <a href="{% url 'item:delete' item.id %}" class="idelete-button">Delete</a>
    </div>
    {% else %}
    <a href="{% url 'conversation:new' item.id %}" class="icontact-seller-button">Contact Seller</a>
    {% endif %}
  </div>
</div> 
<div class="irelated-items">
  <h2>Related Items</h2>
  <div class="irelated-items-grid">
    {% for item in related_items %}
    <div class="irelated-item-card">
      <a href="{% url 'item:detail' item.id %}">
        <div class="irelated-item-image">
          <img src="{{ item.image.url }}" alt="{{ item.name }}">
        </div>
        <div class="irelated-item-details">
          <h2 class="irelated-item-name">{{ item.name }}</h2>
          <p class="irelated-item-price">Price: {{ item.price }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}