{% extends 'core/base.html' %}
{% block title %}Items{% endblock %}
{% block content %}
<div class="iitems-container">
  <div class="iitems-sidebar">
    <form action="{% url 'item:items' %}" method="get">
      <input name="query" class="isearch-input" type="text" value="{{ query }}" placeholder="Find a bike, chair, photo...">
      <button class="isearch-button">Search</button>
    </form>
    <hr>
    <p class="isidebar-heading">Categories</p>
    <ul class="icategories-list">
      {% for category in categories %}
      <li class="icategory-item {% if category.id == category_id %}active-category{% endif %}">
        <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
      </li>
      {% endfor %}
    </ul>
    <hr>
    <p class="isidebar-heading">Clear filters</p>
    <ul class="iclear-filters">
      <li><a href="{% url 'item:items' %}" class="iclear-button">Clear</a></li>
    </ul>
  </div>
  <div class="iitems-grid">
    {% for item in items %}
    <div class="iitem-card">
      <a href="{% url 'item:detail' item.id %}">
        <div class="iitem-image">
          <img src="{{ item.image.url }}" alt="{{ item.name }}">
        </div>
        <div class="iitem-details">
          <h2 class="iitem-name">{{ item.name }}</h2>
          <p class="iitem-price">{{ item.price }} :birr</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}