{% extends 'core/base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="dashboard-container">
  <h2 class="dashboard-heading">My items</h2>

  <div class="item-grid">
    {% for item in items %}
      <a href="{% url 'item:detail' item.id %}" class="item-card">
        <div>
          <img src="{{ item.image.url }}" alt="{{ item.name }}">
        </div>
        <div class="item-card-content">
          <h2>{{ item.name }}</h2>
          <p>Price: {{ item.price }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock %}